.bg-hero {
  background-image: url('/backgrounds/polny_poryadok_background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
}

/* Desktop-specific styles */
@media (min-width: 768px) {
  .bg-hero {
    background-attachment: fixed;
  }
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .bg-hero {
    background-attachment: scroll;
    background-position: center center;
  }
}

.bg-services {
  background-image: url('/backgrounds/services_background.png');
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0,0,0);
  
  @media (max-width: 768px) {
    background-size: 120% auto;
    background-position: 80% top;
  }
}

.bg-projects {
  background-image: url('/backgrounds/projects_background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0,0,0);
  
  @media (max-width: 768px) {
    background-size: cover;
    background-position: center center;
  }
}

.bg-contacts {
  background-image: url('/backgrounds/contacts_background.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.bg-footer {
  background-image: url('/backgrounds/footer_background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
